version: "3.9"

services:
  frontend:
    image: vinchar/ai-quiz-generator-frontend:0.1
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
      - rag

  backend:
    image: vinchar/ai-quiz-generator-backend:0.1
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3001:3001"
    depends_on:
      - rag

  rag:
    image: vinchar/ai-quiz-generator-rag:0.1
    build:
      context: .
      dockerfile: Dockerfile.rag
    ports:
      - "8000:8000"
    environment:
      RAG_CHROMA_URL: "https://chroma-db.pcaidev.ai.greendatacenter.com"
      RAG_CHROMA_SSL_VERIFY: "false"
      RAG_EMBEDDING_ENDPOINT: "${RAG_EMBEDDING_ENDPOINT}"
      RAG_EMBEDDING_TOKEN: "${RAG_EMBEDDING_TOKEN}"
      RAG_EMBEDDING_MODEL: "${RAG_EMBEDDING_MODEL}"
      RAG_LLM_ENDPOINT: "${RAG_LLM_ENDPOINT}"
      RAG_LLM_TOKEN: "${RAG_LLM_TOKEN}"
      RAG_LLM_MODEL: "${RAG_LLM_MODEL}"
    volumes:
      - rag_chroma:/data/chroma

volumes:
  rag_chroma:
