version: "3.9"

services:
  frontend:
    image: vinchar/quiz-frontend:latest
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "8080:80"
    depends_on:
      - backend

  backend:
    image: vinchar/quiz-backend:latest
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3001:3001"
